@use 'variables'

@mixin center
    display: flex
    align-items: center
    justify-content: center

@mixin around
    display: flex
    align-items: center
    justify-content: space-around

@mixin between
    display: flex
    align-items: center
    justify-content: space-between
    