/* como chamar uma variable = background-color: variables.$bg-color */
/* como chamar um mixin = @include mixins.around */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
nav h1 {
  color: #1090cb;
  font-family: "poppins";
  margin-left: 32px;
  font-weight: 700;
  font-size: 29px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-size: 16px;
  font-family: "poppins";
  font-weight: 400;
  text-decoration: none;
  color: #000;
}
nav ul button {
  background: #1090cb;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
}

.first-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(16, 144, 203, 0.1);
  height: 100vh;
}
.first-page .content {
  position: absolute;
  width: 630px;
  height: 450px;
  left: 123px;
  top: 230px;
}
.first-page .content h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}
.first-page .content h1 span {
  color: #1090cb;
}
.first-page .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32.69px;
  margin-top: 26px;
}
.first-page .content .contact {
  font-size: 16px;
  font-weight: 400;
  line-height: 32.69px;
  border-radius: 10px;
  width: 193px;
  height: 51px;
  background-color: #1090cb;
  border: none;
  color: #fff;
  margin-top: 63px;
}
.first-page .content .view {
  font-size: 16px;
  font-weight: 400;
  line-height: 32.69px;
  border-radius: 10px;
  width: 193px;
  height: 51px;
  color: #1090cb;
  border: 2px solid #1090cb;
  margin-left: 20px;
}
.first-page .images {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.first-page .images .image01 {
  position: absolute;
  width: 509px;
  height: 763px;
  left: 778px;
  top: 16px;
}
.first-page .images .image02 {
  position: absolute;
  width: 185px;
  height: 185px;
  left: 1190px;
  top: 547px;
}
.first-page .images .image03 {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 1318.59px;
  top: 205px;
  transform: rotate(57.89deg);
}
.first-page .images .image04 {
  position: absolute;
  width: 66px;
  height: 66px;
  left: 885px;
  top: 291px;
}
.first-page .images .image05 {
  position: absolute;
  right: 0;
  top: 275px;
}
.first-page .images .image06 {
  position: absolute;
  left: 0;
  top: 278px;
}
.first-page .images .ellipse01 {
  position: absolute;
  width: 496px;
  height: 504px;
  left: 918px;
  top: 105px;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, #FDFFEA 50%, rgba(196, 196, 196, 0) 100%);
}
.first-page .images .ellipse02 {
  position: absolute;
  width: 496px;
  height: 504px;
  left: -111px;
  top: 125px;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, #FDFFEA 50%, rgba(196, 196, 196, 0) 100%);
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
}
.benefits .web {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.benefits .web span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 83px;
  border-radius: 20px;
  background-color: #FDFFEA;
}
.benefits .web span img {
  width: 41px;
  height: 41px;
}
.benefits .web h1 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 35px;
}
.benefits .web p {
  font-size: 16px;
  color: #969696;
  font-weight: 400;
}
.benefits .seo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.benefits .seo span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 83px;
  border-radius: 20px;
  background-color: #ECFFDA;
}
.benefits .seo span img {
  width: 41px;
  height: 41px;
}
.benefits .seo h1 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 35px;
}
.benefits .seo p {
  font-size: 16px;
  color: #969696;
  font-weight: 400;
}
.benefits .solutions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.benefits .solutions span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 83px;
  border-radius: 20px;
  background-color: #DAE6FF;
}
.benefits .solutions span img {
  width: 41px;
  height: 41px;
}
.benefits .solutions h1 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 35px;
}
.benefits .solutions p {
  font-size: 16px;
  color: #969696;
  font-weight: 400;
}
.benefits .mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.benefits .mobile span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 83px;
  border-radius: 20px;
  background-color: #FFE5DA;
}
.benefits .mobile span img {
  width: 41px;
  height: 41px;
}
.benefits .mobile h1 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 35px;
}
.benefits .mobile p {
  font-size: 16px;
  color: #969696;
  font-weight: 400;
}

.title-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 55px;
  margin-top: 55px;
}
.title-middle h1 {
  font-size: 33px;
  font-weight: 600;
  line-height: 52.8px;
  text-align: cernter;
}
.title-middle p {
  font-size: 18px;
  font-weight: 400;
  line-height: 31.5px;
  text-align: center;
}

.line {
  position: absolute;
  width: 791.01px;
  height: 1308.5px;
  left: 91.99px;
  top: 1153px;
  z-index: -1;
}

.first-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.first-content .description {
  width: 516px;
  height: 389px;
  margin-left: 123px;
}
.first-content .description .title {
  display: flex;
  gap: 20px;
}
.first-content .description .title span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #08d3bb;
}
.first-content .description .title span img {
  width: 26px;
  height: 26px;
}
.first-content .description .title .mobile-content h1 {
  font-size: 17px;
  font-weight: 700;
  line-height: 29.75px;
  color: #000;
}
.first-content .description .title .mobile-content p {
  color: #868686;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.5px;
}
.first-content .description h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 51px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.first-content .description h2 span {
  color: #1090cb;
}
.first-content .description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}
.first-content img {
  width: 738px;
  height: 511px;
}

.second-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.second-content img {
  width: 738px;
  height: 511px;
  padding: 0 100px;
}
.second-content .description {
  width: 516px;
  height: 389px;
}
.second-content .description .title {
  display: flex;
  gap: 20px;
}
.second-content .description .title span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #1090cb;
}
.second-content .description .title span img {
  width: 26px;
  height: 26px;
}
.second-content .description .title .mobile-content h1 {
  font-size: 17px;
  font-weight: 700;
  line-height: 29.75px;
  color: #000;
}
.second-content .description .title .mobile-content p {
  color: #868686;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.5px;
}
.second-content .description h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 51px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.second-content .description h2 span {
  color: #1090cb;
}
.second-content .description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}

.third-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.third-content .description {
  width: 516px;
  height: 389px;
  margin-left: 123px;
}
.third-content .description .title {
  display: flex;
  gap: 20px;
}
.third-content .description .title span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #9208d3;
}
.third-content .description .title span img {
  width: 26px;
  height: 26px;
}
.third-content .description .title .mobile-content h1 {
  font-size: 17px;
  font-weight: 700;
  line-height: 29.75px;
  color: #000;
}
.third-content .description .title .mobile-content p {
  color: #868686;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.5px;
}
.third-content .description h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 51px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.third-content .description h2 span {
  color: #1090cb;
}
.third-content .description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}
.third-content img {
  width: 738px;
  height: 511px;
}

.view-more {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.view-more img {
  position: absolute;
  width: 120.26px;
  height: 120.26px;
  left: 1197.86px;
  top: 3283px;
  transform: rotate(20.37deg);
}
.view-more .viewmore-first-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 572px;
  height: 459px;
  border-radius: 20px;
  background-color: #f4f4f4;
}
.view-more .viewmore-first-content h1 {
  width: 365px;
  height: 84px;
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  color: #252525;
}
.view-more .viewmore-first-content p {
  font-size: 16px;
  padding: 48px 48px;
  width: 476px;
  height: 141px;
  font-weight: 400;
  line-height: 170%;
  text-align: center;
  color: #545454;
}
.view-more .viewmore-first-content .button-first {
  font-size: 16px;
  font-weight: 400;
  line-height: 32.69px;
  border-radius: 10px;
  width: 193px;
  height: 51px;
  background-color: #1090cb;
  color: #fff;
  border: none;
}
.view-more .viewmore-second-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 572px;
  height: 459px;
  border-radius: 20px;
  background-color: #1090cb;
}
.view-more .viewmore-second-content h1 {
  width: 365px;
  height: 84px;
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  color: #252525;
  color: #fff;
}
.view-more .viewmore-second-content p {
  font-size: 16px;
  padding: 48px 48px;
  width: 476px;
  height: 141px;
  font-weight: 400;
  line-height: 170%;
  text-align: center;
  color: #545454;
  color: #fff;
}
.view-more .viewmore-second-content .button-second {
  font-size: 16px;
  font-weight: 400;
  line-height: 32.69px;
  border-radius: 10px;
  width: 193px;
  height: 51px;
  background-color: #fff;
  color: #1090cb;
  border: none;
}/*# sourceMappingURL=style.css.map */