/* como chamar uma variable = background-color: variables.$bg-color */
/* como chamar um mixin = @include mixins.around */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
nav h1 {
  color: #1090cb;
  font-family: "poppins";
  margin-left: 32px;
  font-weight: 700;
  font-size: 29px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  z-index: 1;
  font-size: 16px;
  font-family: "poppins";
  font-weight: 400;
  text-decoration: none;
  color: #000;
}
nav ul li .contact {
  font-size: 16px;
  background-color: #1090cb;
  border-radius: 10px;
  font-weight: 400;
  color: #fff;
  padding: 10px;
}
nav ul button {
  background: #1090cb;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
}

.first-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(16, 144, 203, 0.1);
  height: 100vh;
}
.first-page .content {
  position: absolute;
  width: 630px;
  height: 450px;
  left: 123px;
  top: 230px;
}
.first-page .content h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}
.first-page .content h1 span {
  color: #1090cb;
}
.first-page .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32.69px;
  margin-top: 26px;
}
.first-page .content .contact {
  font-size: 16px;
  font-weight: 400;
  line-height: 32.69px;
  border-radius: 10px;
  width: 193px;
  height: 51px;
  background-color: #1090cb;
  border: none;
  color: #fff;
  margin-top: 63px;
}
.first-page .content .view {
  font-size: 16px;
  font-weight: 400;
  line-height: 32.69px;
  border-radius: 10px;
  width: 193px;
  height: 51px;
  color: #1090cb;
  border: 2px solid #1090cb;
  margin-left: 20px;
}
.first-page .images {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.first-page .images .image01 {
  position: absolute;
  width: 509px;
  height: 763px;
  left: 778px;
  top: 16px;
  z-index: -1;
}
.first-page .images .image02 {
  position: absolute;
  width: 185px;
  height: 185px;
  left: 1190px;
  top: 547px;
}
.first-page .images .image03 {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 1218.59px;
  top: 205px;
}
.first-page .images .image04 {
  position: absolute;
  width: 66px;
  height: 66px;
  left: 885px;
  top: 291px;
}
.first-page .images .image05 {
  position: absolute;
  right: 0;
  top: 275px;
}
.first-page .images .image06 {
  position: absolute;
  left: 0;
  top: 278px;
}
.first-page .images .ellipse01 {
  position: absolute;
  width: 496px;
  height: 504px;
  left: 918px;
  top: 105px;
  z-index: -100;
  background: radial-gradient(50% 50% at 50% 50%, #FDFFEA 50%, rgba(196, 196, 196, 0) 100%);
}
.first-page .images .ellipse02 {
  position: absolute;
  width: 496px;
  height: 504px;
  left: -111px;
  top: 125px;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, #FDFFEA 50%, rgba(196, 196, 196, 0) 100%);
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
}
.benefits .web {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.benefits .web span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 83px;
  border-radius: 20px;
  background-color: #FDFFEA;
}
.benefits .web span img {
  width: 41px;
  height: 41px;
}
.benefits .web h1 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 35px;
}
.benefits .web p {
  font-size: 16px;
  color: #969696;
  font-weight: 400;
}
.benefits .seo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.benefits .seo span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 83px;
  border-radius: 20px;
  background-color: #ECFFDA;
}
.benefits .seo span img {
  width: 41px;
  height: 41px;
}
.benefits .seo h1 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 35px;
}
.benefits .seo p {
  font-size: 16px;
  color: #969696;
  font-weight: 400;
}
.benefits .solutions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.benefits .solutions span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 83px;
  border-radius: 20px;
  background-color: #DAE6FF;
}
.benefits .solutions span img {
  width: 41px;
  height: 41px;
}
.benefits .solutions h1 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 35px;
}
.benefits .solutions p {
  font-size: 16px;
  color: #969696;
  font-weight: 400;
}
.benefits .mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.benefits .mobile span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 83px;
  border-radius: 20px;
  background-color: #FFE5DA;
}
.benefits .mobile span img {
  width: 41px;
  height: 41px;
}
.benefits .mobile h1 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 35px;
}
.benefits .mobile p {
  font-size: 16px;
  color: #969696;
  font-weight: 400;
}

.title-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 55px;
  margin-top: 55px;
}
.title-middle h1 {
  font-size: 33px;
  font-weight: 600;
  line-height: 52.8px;
  text-align: cernter;
}
.title-middle p {
  font-size: 18px;
  font-weight: 400;
  line-height: 31.5px;
  text-align: center;
}

.first-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.first-content .description {
  width: 516px;
  height: 389px;
  margin-left: 123px;
}
.first-content .description .title {
  display: flex;
  gap: 20px;
}
.first-content .description .title span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #08d3bb;
}
.first-content .description .title span img {
  width: 26px;
  height: 26px;
}
.first-content .description .title .mobile-content h1 {
  font-size: 17px;
  font-weight: 700;
  line-height: 29.75px;
  color: #000;
}
.first-content .description .title .mobile-content p {
  color: #868686;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.5px;
}
.first-content .description h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 51px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.first-content .description h2 span {
  color: #1090cb;
}
.first-content .description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}
.first-content img {
  width: 738px;
  height: 511px;
}

.second-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.second-content img {
  width: 738px;
  height: 511px;
  padding: 0 100px;
}
.second-content .description {
  width: 516px;
  height: 389px;
}
.second-content .description .title {
  display: flex;
  gap: 20px;
}
.second-content .description .title span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #1090cb;
}
.second-content .description .title span img {
  width: 26px;
  height: 26px;
}
.second-content .description .title .mobile-content h1 {
  font-size: 17px;
  font-weight: 700;
  line-height: 29.75px;
  color: #000;
}
.second-content .description .title .mobile-content p {
  color: #868686;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.5px;
}
.second-content .description h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 51px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.second-content .description h2 span {
  color: #1090cb;
}
.second-content .description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}

.third-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.third-content .description {
  width: 516px;
  height: 389px;
  margin-left: 123px;
}
.third-content .description .title {
  display: flex;
  gap: 20px;
}
.third-content .description .title span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #9208d3;
}
.third-content .description .title span img {
  width: 26px;
  height: 26px;
}
.third-content .description .title .mobile-content h1 {
  font-size: 17px;
  font-weight: 700;
  line-height: 29.75px;
  color: #000;
}
.third-content .description .title .mobile-content p {
  color: #868686;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.5px;
}
.third-content .description h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 51px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.third-content .description h2 span {
  color: #1090cb;
}
.third-content .description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}
.third-content img {
  width: 738px;
  height: 511px;
}

.view-more {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  height: 100vh;
}
.view-more img {
  position: absolute;
  width: 120.26px;
  height: 120.26px;
  left: 1157px;
  top: 2700px;
}
.view-more .viewmore-first-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 572px;
  height: 459px;
  border-radius: 20px;
  background-color: #f4f4f4;
}
.view-more .viewmore-first-content h1 {
  width: 365px;
  height: 84px;
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  color: #252525;
}
.view-more .viewmore-first-content p {
  font-size: 16px;
  padding: 48px 48px;
  width: 476px;
  height: 141px;
  font-weight: 400;
  line-height: 170%;
  text-align: center;
  color: #545454;
}
.view-more .viewmore-first-content .button-first {
  font-size: 16px;
  font-weight: 400;
  line-height: 32.69px;
  border-radius: 10px;
  width: 193px;
  height: 51px;
  background-color: #1090cb;
  color: #fff;
  border: none;
}
.view-more .viewmore-second-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 572px;
  height: 459px;
  border-radius: 20px;
  background-color: #1090cb;
}
.view-more .viewmore-second-content h1 {
  width: 365px;
  height: 84px;
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  color: #252525;
  color: #fff;
}
.view-more .viewmore-second-content p {
  font-size: 16px;
  padding: 48px 48px;
  width: 476px;
  height: 141px;
  font-weight: 400;
  line-height: 170%;
  text-align: center;
  color: #545454;
  color: #fff;
}
.view-more .viewmore-second-content .button-second {
  font-size: 16px;
  font-weight: 400;
  line-height: 32.69px;
  border-radius: 10px;
  width: 193px;
  height: 51px;
  background-color: #fff;
  color: #1090cb;
  border: none;
}

.companies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.companies h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.companies .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 115px;
}

.inscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 144, 203, 0.1);
  flex-direction: column;
  height: 100vh;
}
.inscribe .star {
  position: absolute;
  width: 66px;
  height: 66px;
  left: 167px;
  top: 3515px;
}
.inscribe .paichart {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 939px;
  top: 3700px;
}
.inscribe h1 {
  font-size: 30px;
  margin-bottom: 80px;
  font-weight: 600;
  line-height: 51px;
  text-align: center;
}
.inscribe input {
  font-size: 16px;
  width: 532px;
  height: 67px;
  border-radius: 10px;
  -webkit-padding-start: 36px;
          padding-inline-start: 36px;
  border: none;
  font-weight: 400;
  box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.07);
}
.inscribe .send {
  font-size: 16px;
  font-weight: 500;
  margin-left: 14px;
  width: 173px;
  height: 67px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins";
  flex-direction: column;
  height: 80vh;
}
footer .information {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
}
footer .information .company {
  height: 20px;
}
footer .information .company .logo2 {
  color: #00329B;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 700;
  margin-top: -80px;
}
footer .information .company .company-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 50px;
}
footer .information .company .link {
  font-size: 16px;
  font-weight: 400;
}
footer .information .aboutus h1 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 25px;
}
footer .information .aboutus p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}
footer .information .contact {
  height: 150px;
}
footer .information .contact h1 {
  font-size: 17px;
  font-weight: 700;
  margin-top: -10px;
  margin-bottom: 25px;
}
footer .information .contact .contact-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}
footer .information .contact .contact-phone {
  font-size: 16px;
  font-weight: 400;
}
footer .information .social-midia {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  gap: 15px;
  margin-top: 130px;
}
footer .information .social-midia span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}
footer .information .social-midia span i {
  width: 12px;
  height: 12px;
}
footer hr {
  width: 100%;
  margin-top: 80px;
}
footer .copyright {
  font-size: 17px;
  font-weight: 400;
  margin-top: 80px;
}

.aboutus-beginning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 120vh;
}
.aboutus-beginning .beginning-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 165px;
}
.aboutus-beginning .beginning-info .beginning-img1 {
  width: 247px;
  height: 259px;
  margin-right: 50px;
}
.aboutus-beginning .beginning-info .beginning-img2 {
  width: 288px;
  height: 346px;
}
.aboutus-beginning .beginning-info .information {
  margin-left: 69px;
  width: 565px;
  height: 318px;
}
.aboutus-beginning .beginning-info .information h1 {
  color: #1090cb;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
}
.aboutus-beginning .beginning-info .information h2 {
  width: 565px;
  height: 128px;
  font-size: 40px;
  font-weight: 600;
  line-height: 68px;
  margin-top: 10px;
  margin-bottom: 37px;
}
.aboutus-beginning .beginning-info .information p {
  width: 463px;
  height: 96px;
  color: #868686;
  font-size: 18px;
  font-weight: 400;
  line-height: 31.5px;
}
.aboutus-beginning .images {
  margin-top: 75px;
}
.aboutus-beginning .images .beginning-img3 {
  width: 521px;
  height: 346px;
  margin-right: 51px;
}
.aboutus-beginning .images .beginning-img4 {
  width: 542px;
  height: 346px;
}
.aboutus-beginning .beginning-img5 {
  position: absolute;
  right: 0;
  top: -80px;
}
.aboutus-beginning .beginning-img6 {
  position: absolute;
  left: 0;
  top: 564px;
}

.aboutus-information1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-top: 200px;
}
.aboutus-information1 h1 {
  color: #1090cb;
  height: 807px;
  height: 148px;
  font-size: 45px;
  font-weight: 600;
  line-height: 72px;
  margin-bottom: 48px;
  margin-right: 250px;
}
.aboutus-information1 p {
  color: #868686;
  width: 1014px;
  height: 167px;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

.about-information2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.about-information2 .more-information {
  width: 499px;
  height: 437px;
  margin-left: 50px;
}
.about-information2 .more-information h1 {
  font-size: 30px;
  width: 499px;
  height: 109px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 31px;
  margin-top: 28px;
}
.about-information2 .more-information p {
  color: #969696;
  font-size: 20px;
  font-weight: 400;
  width: 487px;
  height: 151px;
  margin-bottom: 62px;
}
.about-information2 .more-information button {
  font-size: 16px;
  color: #1090cb;
  border: 2px solid #1090cb;
  font-weight: 400;
  text-align: center;
  width: 193px;
  height: 51px;
  border-radius: 10px;
  background-color: #fff;
}
.about-information2 .products {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 766px;
  height: 395px;
  box-shadow: 0px 4px 124px rgba(0, 0, 0, 0.1);
}
.about-information2 .products .first {
  display: flex;
  gap: 90px;
}
.about-information2 .products .first .first-content1 {
  display: flex;
  gap: 10px;
  width: 332px;
  height: 90px;
}
.about-information2 .products .first .first-content1 .icone1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 90px;
  border-radius: 20px;
  background-color: #fff2f2;
}
.about-information2 .products .first .first-content1 .icone1 img {
  width: 41px;
  height: 41px;
}
.about-information2 .products .first .first-content1 .box1 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #2e0d64;
  width: 212px;
  height: 44px;
  margin-top: 30px;
}
.about-information2 .products .first .second-content2 {
  display: flex;
  gap: 10px;
  margin-right: 121px;
  width: 162px;
  height: 90px;
}
.about-information2 .products .first .second-content2 .icone2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 90px;
  border-radius: 20px;
  background-color: #e2f3ff;
}
.about-information2 .products .first .second-content2 .icone2 img {
  width: 41px;
  height: 41px;
}
.about-information2 .products .first .second-content2 .box2 {
  margin-left: 0;
  margin-top: 25px;
  width: 60px;
  height: 44px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #2e0d64;
}
.about-information2 .products .second {
  display: flex;
  gap: 56px;
}
.about-information2 .products .second .first-content3 {
  display: flex;
  gap: 10px;
  width: 366px;
  height: 90px;
}
.about-information2 .products .second .first-content3 .icone3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 90px;
  border-radius: 20px;
  background-color: #f1e8ff;
}
.about-information2 .products .second .first-content3 .icone3 img {
  width: 41px;
  height: 41px;
}
.about-information2 .products .second .first-content3 .box3 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #2e0d64;
  margin-top: 30px;
  width: 253px;
  height: 44px;
}
.about-information2 .products .second .second-content4 {
  display: flex;
  gap: 10px;
  margin-right: 91px;
  width: 192px;
  height: 90px;
}
.about-information2 .products .second .second-content4 .icone4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 90px;
  border-radius: 20px;
  background-color: #ffe7fb;
}
.about-information2 .products .second .second-content4 .icone4 img {
  width: 41px;
  height: 41px;
}
.about-information2 .products .second .second-content4 .box4 {
  margin-left: 0;
  margin-top: 25px;
  width: 60px;
  height: 44px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #2e0d64;
}

.aboutus-team {
  height: 100vh;
}
.aboutus-team h1 {
  width: 125px;
  height: 43px;
  margin-left: 50px;
  margin-bottom: 60px;
  font-size: 25px;
  font-weight: 500;
}
.aboutus-team .team-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.aboutus-team .team-info img {
  width: 300px;
}
.aboutus-team .team-info h2 {
  font-size: 16px;
  color: #6a6a6a;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 22px;
}
.aboutus-team .team-info p {
  font-size: 18px;
  font-weight: 600;
}

.star2 {
  position: absolute;
  width: 66px;
  height: 66px;
  left: 167px;
  top: 2980px;
}

.paichart2 {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 939px;
  top: 3150px;
}/*# sourceMappingURL=style.css.map */