@use 'variables'
@use 'mixin'
/* como chamar uma variable = background-color: variables.$bg-color */
/* como chamar um mixin = @include mixins.around */
*
    margin: 0
    padding: 0
    font-family: 'Poppins'

////////////////////////*Header style start*////////////////////////
nav
    @include mixin.between
    padding: 30px

    h1
        color: variables.$color-blue
        font-family: 'poppins'
        margin-left: 32px
        font-weight: 700
        font-size: 29px

    ul
        @include mixin.around
        gap: 25px

        li
            list-style: none

            a
                z-index: 1
                font-size: variables.$font-small
                font-family: 'poppins'
                font-weight: 400
                text-decoration: none
                color: #000
            
            .contact
                font-size: variables.$font-small
                background-color: variables.$color-blue
                border-radius: 10px
                font-weight: 400
                color: #fff
                padding: 10px
                
        
        button
            background: variables.$color-blue
            font-size: variables.$font-small
            font-weight: 400
            border: none
            border-radius: 10px
            color: #fff
            padding: 10px
////////////////////////*End of header style*////////////////////////

////////////////////////*HOME page style start*////////////////////////
////////////////////////*Section first-page style start*////////////////////////
.first-page
    @include mixin.around
    background-color: variables.$color-background
    height: 100vh

    .content
        position: absolute
        width: 630px
        height: 450px
        left: 123px
        top: 230px
        
        h1
            font-size: variables.$font-title
            font-weight: 600
            line-height: 60px

            span
                color: variables.$color-blue
        
        p
            font-size: variables.$font-small
            font-weight: 400
            line-height: 32.69px
            margin-top: 26px
        
        .contact
            @include mixin.button
            background-color: variables.$color-blue
            border: none
            color: #fff
            margin-top: 63px
            
        .view
            @include mixin.button
            color: variables.$color-blue
            border: 2px solid variables.$color-blue
            margin-left: 20px
    
    .images
        @include mixin.around

        .image01
            position: absolute
            width: 509px
            height: 763px
            left: 778px
            top: 16px
            z-index: -1

        .image02
            position: absolute
            width: 185px
            height: 185px
            left: 1190px
            top: 547px

        .image03
            position: absolute
            width: 68px
            height: 68px
            left: 1218.59px
            top: 205px

        .image04
            position: absolute
            width: 66px
            height: 66px
            left: 885px
            top: 291px

        .image05
            position: absolute
            right: 0
            top: 275px

        .image06
            position: absolute
            left: 0
            top: 278px

        .ellipse01
            position: absolute
            width: 496px
            height: 504px
            left: 918px
            top: 105px
            z-index: -100
            background: radial-gradient(50% 50% at 50% 50%, #FDFFEA 50%, rgba(196, 196, 196, 0) 100%)
        
        .ellipse02
            position: absolute
            width: 496px
            height: 504px
            left: -111px
            top: 125px
            z-index: -1
            background: radial-gradient(50% 50% at 50% 50%, #FDFFEA 50%, rgba(196, 196, 196, 0) 100%)       
////////////////////////*End of Section first-page style*///////////////////////

////////////////////////*Section benefits style start*////////////////////////
.benefits
    @include mixin.around
    height: 20vh
    
    .web
        @include mixin.center
        gap: 16px

        span
            @include mixin.center
            @include mixin.benefits-span
            background-color: #FDFFEA

            img
                @include mixin.benefits-img
        
        h1
            @include mixin.benefits-h1
        
        p
            @include mixin.benefits-p
    
    .seo
        @include mixin.center
        gap: 16px

        span
            @include mixin.center
            @include mixin.benefits-span
            background-color: #ECFFDA

            img
                @include mixin.benefits-img
        
        h1
            @include mixin.benefits-h1
        
        p
            @include mixin.benefits-p
    
    .solutions
        @include mixin.center
        gap: 16px

        span
            @include mixin.center
            @include mixin.benefits-span
            background-color: #DAE6FF

            img
                @include mixin.benefits-img
        
        h1
            @include mixin.benefits-h1
        
        p
            @include mixin.benefits-p
    
    .mobile
        @include mixin.center
        gap: 16px

        span
            @include mixin.center
            @include mixin.benefits-span
            background-color: #FFE5DA

            img
                @include mixin.benefits-img
        
        h1
            @include mixin.benefits-h1
        
        p
            @include mixin.benefits-p    
////////////////////////*End of Section benefits style*///////////////////////

////////////////////////*Section title style start*////////////////////////
.title-middle
    @include mixin.center
    flex-direction: column
    margin-bottom: 55px
    margin-top: 55px

    h1
        font-size: 33px
        font-weight: 600
        line-height: 52.8px
        text-align: cernter

    p
        font-size: 18px
        font-weight: 400
        line-height: 31.5px
        text-align: center 
////////////////////////*End of Section title style*///////////////////////

////////////////////////*Section information style start*////////////////////////
.first-content
    @include mixin.around

    .description
        @include mixin.information-descriotion
        margin-left: 123px

        .title
            @include mixin.information-title

            span
                @include mixin.center
                @include mixin.information-span
                background-color: variables.$color-first-ellipse 

                img
                    @include mixin.information-img1

            .mobile-content
                h1
                   @include mixin.information-h1

                p
                    @include mixin.information-p1

        h2
            @include mixin.information-h2

            span
                color: variables.$color-blue
                
        p
            @include mixin.information-p2
    img
        @include mixin.information-img2

.second-content
    @include mixin.around
 
    img
        @include mixin.information-img2
        padding: 0 100px
        
    .description
        @include mixin.information-descriotion

        .title
            @include mixin.information-title

            span
                @include mixin.center
                @include mixin.information-span
                background-color: variables.$color-second-ellipse 

                img
                    @include mixin.information-img1

            .mobile-content
                h1
                   @include mixin.information-h1

                p
                    @include mixin.information-p1

        h2
            @include mixin.information-h2

            span
                color: variables.$color-blue

        p
            @include mixin.information-p2

.third-content
    @include mixin.around

    .description
        @include mixin.information-descriotion
        margin-left: 123px

        .title
            @include mixin.information-title

            span
                @include mixin.center
                @include mixin.information-span
                background-color: variables.$color-third-ellipse 

                img
                    @include mixin.information-img1

            .mobile-content
                h1
                   @include mixin.information-h1

                p
                    @include mixin.information-p1

        h2
            @include mixin.information-h2

            span
                color: variables.$color-blue

        p
            @include mixin.information-p2
    img
        @include mixin.information-img2
////////////////////////*End of Section information style*///////////////////////

////////////////////////*Section view-more style start*////////////////////////
.view-more
    @include mixin.around
    margin-top: 50px
    height: 100vh

    img
        position: absolute
        width: 120.26px
        height: 120.26px
        left: 1157px
        top: 2700px

    .viewmore-first-content
        @include mixin.center
        @include mixin.viewmore-content
        background-color: #f4f4f4

        h1
            @include mixin.viewmore-h1
        
        p
            @include mixin.viewmore-p
            

        .button-first
            @include mixin.button
            background-color: variables.$color-blue
            color: #fff
            border: none
    
    .viewmore-second-content
        @include mixin.center
        @include mixin.viewmore-content
        background-color: variables.$color-blue

        h1
            @include mixin.viewmore-h1
            color: #fff
        
        p
            @include mixin.viewmore-p
            color: #fff
        
        .button-second
            @include mixin.button
            background-color: #fff
            color: variables.$color-blue
            border: none
////////////////////////*End of Section view-more style*///////////////////////

////////////////////////*Section companies style start*////////////////////////
.companies
    @include mixin.center
    flex-direction: column

    h1
        font-size: 24px
        font-weight: 500
        margin-bottom: 15px

    .logo
        @include mixin.center
        gap: 115px
////////////////////////*End of Section companies style*///////////////////////

////////////////////////*Section inscribe style start*////////////////////////
.inscribe
    @include mixin.center
    background-color: variables.$color-background
    flex-direction: column
    height: 100vh

    .star
        position: absolute
        width: 66px
        height: 66px
        left: 167px 
        top: 3515px
    
    .paichart
        position: absolute
        width: 54px
        height: 54px
        left: 939px
        top: 3700px

    h1
        font-size: variables.$font-big
        margin-bottom: 80px
        font-weight: 600
        line-height: 51px
        text-align: center
    
    input
        font-size: variables.$font-small
        width: 532px
        height: 67px
        border-radius: 10px
        padding-inline-start: 36px
        border: none
        font-weight: 400
        box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.07)

    .send
        font-size: variables.$font-small
        font-weight: 500
        margin-left: 14px
        width: 173px
        height: 67px
        border-radius: 10px
        background-color: #000
        color: #fff

////////////////////////*End of Section inscribe style*///////////////////////

////////////////////////*Section footer style start*////////////////////////
footer
    @include mixin.center
    font-family: 'poppins'
    flex-direction: column
    height: 80vh

    .information
        @include mixin.center
        gap: 130px

        .company
            height: 20px

            .logo2
                color: variables.$color-blue2
                margin-bottom: 30px
                font-size: 17px
                font-weight: 700
                margin-top: -80px
            
            .company-info
                font-size: variables.$font-small
                font-weight: 400
                line-height: 24px
                margin-bottom: 50px

            .link
                font-size: variables.$font-small
                font-weight: 400

        .aboutus
            h1
                font-size: 17px
                font-weight: 700
                margin-bottom: 25px

            p
                font-size: variables.$font-small
                font-weight: 400
                line-height: 24px
                margin-bottom: 10px
        
        .contact
            height: 150px

            h1
                font-size: 17px
                font-weight: 700
                margin-top: -10px
                margin-bottom: 25px
            
            .contact-info
                font-size: variables.$font-small
                font-weight: 400
                line-height: 24px
                margin-bottom: 30px
            
            .contact-phone
                font-size: variables.$font-small
                font-weight: 400

        .social-midia
            @include mixin.center
            height: 80px
            gap: 15px
            margin-top: 130px
            
            span
                @include mixin.center
                width: 34px
                height: 34px
                border-radius: 50%
                text-align: center
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15)

                i
                    width: 12px
                    height: 12px
    
    hr
        width: 100%
        margin-top: 80px
    
    .copyright
        font-size: 17px
        font-weight: 400
        margin-top: 80px
////////////////////////*End of Section footer style*///////////////////////
////////////////////////*End of HOME page style*///////////////////////

////////////////////////*Start of ABOUT US page style*///////////////////////
////////////////////////*Start of aboutus-beginning  page style*///////////////////////
.aboutus-beginning
    @include mixin.center
    flex-direction: column
    height: 120vh

    .beginning-info
        @include mixin.around
        margin-top: 165px
        
        .beginning-img1
            width: 247px
            height: 259px
            margin-right: 50px
    
        .beginning-img2
            width: 288px
            height: 346px

        .information
            margin-left: 69px
            width: 565px
            height: 318px

            h1
                color: variables.$color-blue
                font-size: 25px
                font-weight: 400
                line-height: 37.5px
            
            h2
                width: 565px
                height: 128px
                font-size: 40px
                font-weight: 600
                line-height: 68px
                margin-top: 10px
                margin-bottom: 37px

            p
                width: 463px
                height: 96px
                color: variables.$color-grey-weak
                font-size: 18px
                font-weight: 400
                line-height: 31.5px 
    .images
        margin-top: 75px

        .beginning-img3
            width: 521px
            height: 346px
            margin-right: 51px

        .beginning-img4
            width: 542px
            height: 346px
   
   
    .beginning-img5
        position: absolute
        right: 0
        top: -80px

    .beginning-img6
        position: absolute
        left: 0
        top: 564px

////////////////////////*End of aboutus-beginning page style*///////////////////////

////////////////////////*start of aboutus-information1 page style*///////////////////////
.aboutus-information1
    @include mixin.center
    flex-direction: column
    height: 100vh
    margin-top: 200px

    h1
        color: variables.$color-blue
        height: 807px
        height: 148px
        font-size: 45px
        font-weight: 600
        line-height: 72px
        margin-bottom: 48px
        margin-right: 250px

    p
        color: variables.$color-grey-weak
        width: 1014px
        height: 167px
        font-size: 20px
        font-weight: 400
        line-height: 40px
////////////////////////*End of aboutus-information1 page style*///////////////////////

////////////////////////*End of aboutus-information2 page style*///////////////////////
.about-information2
    @include mixin.around
    height: 100vh

    .more-information
        width: 499px
        height: 437px
        margin-left: 50px

        h1
            font-size: variables.$font-big
            width: 499px
            height: 109px
            font-weight: 600
            line-height: 48px
            margin-bottom: 31px
            margin-top: 28px

        p
            color: variables.$color-other-grey
            font-size: variables.$font-small-big
            font-weight: 400
            width: 487px
            height: 151px
            margin-bottom: 62px
        
        button
            font-size: variables.$font-small
            color: variables.$color-blue
            border: 2px solid variables.$color-blue
            font-weight: 400
            text-align: center
            width: 193px
            height: 51px
            border-radius: 10px
            background-color: #fff 

    .products
        @include mixin.around
        flex-direction: column
        width: 766px
        height: 395px
        box-shadow: 0px 4px 124px rgba(0, 0, 0, 0.1)

        .first
            display: flex
            gap:90px
            
            .first-content1
                @include mixin.products-firstcont
                width: 332px
                height: 90px

                .icone1
                    @include mixin.center
                    @include mixin.products-icon
                    background-color: #fff2f2
                    

                    img
                        @include mixin.products-img
                
                .box1
                    @include mixin.products-p              
                    width: 212px
                    height: 44px
                    margin-top: 30px
                
            .second-content2
                @include mixin.products-firstcont
                margin-right: 121px
                width: 162px
                height: 90px

                .icone2
                    @include mixin.center
                    @include mixin.products-icon
                    background-color: #e2f3ff

                    img
                        @include mixin.products-img
                
                .box2
                    @include mixin.products-p2

        .second
            display: flex
            gap:56px
            
            .first-content3
                @include mixin.products-firstcont
                width: 366px
                height: 90px    

                .icone3
                    @include mixin.center
                    @include mixin.products-icon
                    background-color: #f1e8ff
                
                    img
                        @include mixin.products-img
                
                .box3
                    @include mixin.products-p
                    margin-top: 30px
                    width: 253px
                    height: 44px
                
            .second-content4
                @include mixin.products-firstcont
                margin-right: 91px
                width: 192px
                height: 90px

                .icone4
                    @include mixin.center
                    @include mixin.products-icon
                    background-color: #ffe7fb

                    img
                        @include mixin.products-img
                
                .box4
                    @include mixin.products-p2            

////////////////////////*End of aboutus-information2 page style*///////////////////////

////////////////////////*End of aboutus-information1 page style*///////////////////////
.aboutus-team
    height: 100vh

    h1
        width: 125px
        height: 43px
        margin-left: 50px
        margin-bottom: 60px
        font-size: 25px
        font-weight: 500

    .team-info
        @include mixin.around

        img
            width: 300px

        h2
            font-size: variables.$font-small
            color: #6a6a6a
            font-weight: 500
            margin-bottom: 10px
            margin-top: 22px

        p
            font-size: 18px
            font-weight: 600
            
.star2
    position: absolute
    width: 66px
    height: 66px
    left: 167px 
    top: 2980px     

.paichart2 
    position: absolute
    width: 54px
    height: 54px
    left: 939px
    top: 3150px   
////////////////////////*End of aboutus-information1 page style*///////////////////////
////////////////////////*End of ABOUT US page style*///////////////////////

////////////////////////*Start of SERVICES page style*///////////////////////
////////////////////////*Start of section-services-home page style*///////////////////////
.services-home
    @include mixin.center
    background-color: variables.$color-background
    flex-direction: column
    width: 100%
    height: 100vh

    .home-info
        @include mixin.center
        flex-direction: column
        width: 440px
        height: 331px

        .back
            @include mixin.center
            border-radius: 50%
            width: 135px
            height: 135px
            background-color: #fff
            margin-bottom: 25px
        
        h1
            font-size: variables.$font-title
            font-weight: 400
            width: 254px
            height: 60px
            margin-bottom: 20px

            span
                color: variables.$color-blue
                font-weight: 500

        p
            color: variables.$color-grey-weak
            widows: 440px
            height: 96px
            text-align: center
            font-size: 18px
            font-weight: 400
        
    .home-group
        @include mixin.center
        flex-direction: column
        position: absolute
        top: 583px
        width: 1203px
        height: 441px
        background-color: #fff
        box-shadow: 0px 4px 114px rgba(0, 0, 0, 0.09)
        border-radius: 10px
        

        .home-first
            display: flex

            .home-first-content1
                display: flex
                width: 453px
                height: 105px
                gap: 39px

                .home-icon1
                    @include mixin.center
                    @include mixin.products-icon
                    background: #F1E8FF

                .home-content1
                    display: flex
                    flex-direction: column
               
                    h1
                        @include mixin.services-home-h1
                    
                    p
                        @include mixin.services-home-p
            
            .home-second-content2
                display: flex
                width: 485px
                height: 107px
                gap: 39px
                margin-left: 98px

                .home-icon2
                    @include mixin.center
                    @include mixin.products-icon
                    background: #FFF2F2

                .home-content2
                    display: flex
                    flex-direction: column
               
                    h1
                        @include mixin.services-home-h1
                    
                    p
                        @include mixin.services-home-p

        .home-second
            display: flex
            margin-top: 5%    

            .home-first-content3
                display: flex
                width: 513px
                height: 108px
                gap: 39px
                margin-right: 10px

                .home-icon3
                    @include mixin.center
                    @include mixin.products-icon
                    background: #E2F3FF

                .home-content3
                    display: flex
                    flex-direction: column
               
                    h1
                        @include mixin.services-home-h1
                    
                    p
                        @include mixin.services-home-p
            
            .home-second-content4
                display: flex
                width: 508px
                height: 109px
                gap: 39px
                margin-left: 5%

                .home-icon4
                    @include mixin.center
                    @include mixin.products-icon
                    background: #FFF2F2

                .home-content4
                    display: flex
                    flex-direction: column
               
                    h1
                        @include mixin.services-home-h1
                    
                    p
                        @include mixin.services-home-p

    .pant
        position: absolute
        left: 1137px
        top: 516px
        z-index: 1

////////////////////////*End of section-services-home page style*///////////////////////

////////////////////////*Start of section-services-info page style*///////////////////////
.services-info
    @include mixin.around
    height: 100vh
    width: 100%
    margin-top: 200px

    .info-content
        position: absolute
        width: 516px
        height: 453px
        left: 119px
        top: 1132px
        
        h1
            width: 516px
            height: 91px
            font-weight: 600
            font-size: 30px
            line-height: 170%

            span
                color: variables.$color-blue
        
        p
            font-size: variables.$font-small
            margin-top: 56px
            width: 476px
            height: 306px
            font-weight: 400
            line-height: 180%
            color: #545454

        button
            border: 2px solid variables.$color-blue
            font-size: variables.$font-small
            color: variables.$color-blue
            font-weight: 400
            width: 193px
            height: 51px
            border-radius: 10px

    img
        position: absolute
        width: 905px
        height: 509px
        left: 515px
        top: 1094px
////////////////////////*End of section-services-info page style*///////////////////////

////////////////////////*Start of section-services-home page style*///////////////////////
.ournumber
    @include mixin.center
    width: 100%
    height: 100vh

    .our-results
        @include mixin.around
        background-color: variables.$color-blue
        width: 100%
        height: 388px

        .clients
            @include mixin.center
            flex-direction: column
            width: 114px
            height: 124px

            h1
               @include mixin.ournumber-h1

            p
                @include mixin.ournumber-p

        .projects
            @include mixin.center
            flex-direction: column
            width: 161px
            height: 124px

            h1
               @include mixin.ournumber-h1

            p
                @include mixin.ournumber-p

        .transsactions
            @include mixin.center
            flex-direction: column
            width: 114px
            height: 124px

            h1
               @include mixin.ournumber-h1

            p
                @include mixin.ournumber-p

        .customers
            @include mixin.center
            flex-direction: column
            width: 215px
            height: 124px

            h1
               @include mixin.ournumber-h1

            p
                @include mixin.ournumber-p

    .our-image1
        position: absolute
        width: 112.26px
        height: 112.26px
        left: 1177.18px
        top: 1653px

    .our-image2
        position: absolute
        width: 103px
        height: 103px
        left: 309px
        top: 2041px
////////////////////////*End of section-services-home page style*///////////////////////

////////////////////////*Start of section-our-projects-home page style*///////////////////////
.our-projects
    display: flex
    flex-direction: column
    width: 100%
    height: 100vh
    margin-bottom: 100px

    h1
        width: 337px
        height: 64px
        letter-spacing: 0.01em
        font-size: 36px
        font-weight: 500
        margin-left: 120px
        margin-bottom: 65px
    
    .projects-content
        display: flex
        gap:75px
        margin-left: 70px

        .first-project
            width: 333px
            height: 593.07px

            img
                width: 333px
                height: 306px

            .first-text
                @include mixin.projects-info

                h2
                    @include mixin.projects-h2
                
                p
                    @include mixin.projects-p
        
        .second-project
            width: 333px
            height: 593.07px

            img
                width: 333px
                height: 306px

            .first-text
                @include mixin.projects-info

                h2
                    @include mixin.projects-h2
                
                p
                    @include mixin.projects-p
        
        .third-project
            width: 333px
            height: 593.07px

            img
                width: 333px
                height: 306px

            .first-text
                @include mixin.projects-info

                h2
                    @include mixin.projects-h2
                
                p
                    @include mixin.projects-p
        
        .fourth-project
            position: absolute
            width: 334px
            height: 593.07px
            left: 1278px
            top: 2340px

            img
                width: 333px
                height: 306px

            .first-text
                @include mixin.projects-info

                h2
                    @include mixin.projects-h2
                
                p
                    @include mixin.projects-p

////////////////////////*End of section-our-projects page style*///////////////////////

////////////////////////*Start of section-services-home page style*///////////////////////
.star3
    position: absolute
    width: 66px
    height: 66px
    left: 167px 
    top: 2948px     

.paichart3 
    position: absolute
    width: 54px
    height: 54px
    left: 939px
    top: 3130px 
////////////////////////*End of section-services-home page style*///////////////////////
////////////////////////*End of SERVICES page style*///////////////////////

////////////////////////*Start of BLOG page style*///////////////////////
////////////////////////*Start of section-home page style*///////////////////////
.home-blog
    @include mixin.center
    flex-direction: column
    height: 100vh
    width: 100%

    .home-content
        @include mixin.center
        flex-direction: column
        width: 432px
        height: 348px

        h1
            width: 318px
            height: 135px
            font-size: 42px
            font-weight: 700
            line-height: 74.72px
            letter-spacing: 0.01em
            text-align: center
            margin-bottom: 41px

            span
                color: variables.$color-blue
            
        p
            color: variables.$color-grey-weak
            width: 432px
            height: 71px
            font-size: 20px
            font-weight: 500
            line-height: 37.9px
            text-align: center
            margin-bottom: 52px

        .searcht
            i
                position: absolute
                width: 15px
                height: 15px
                left: 500px
                top: 510px
                font-size: 20px
            
            input
                font-size: variables.$font-small
                font-weight: 400
                color: #727272
                background-color: #f1f1f1
                border-radius: 10px
                border: none
                width: 400px
                height: 49px 
                margin-bottom: 66px
                padding-inline-start: 80px

    .button
        @include mixin.around
        width: 946px
        height: 48px

        button
            color: variables.$color-blue
            font-size: variables.$font-small
            font-weight: 400
            border: none
            background-color: #f1f1f1
            width: 162px
            height: 48px
            border-radius: 30px 

        .button-blue
            background-color: variables.$color-blue
            color: #fff       
////////////////////////*End of section-home page style*///////////////////////

////////////////////////*Start of section-home-info page style*///////////////////////
.blog-info
    @include mixin.around
    height: 340px
    width: 100%

    img
        border-radius: 5px

    .info-blog
        display: flex
        flex-direction: column

        .info
            width: 525px
            height: 230px

            h1
                width: 525px
                height: 92px
                font-size: 27px
                font-weight: 600
                line-height: 48.03px

            p
                color: variables.$color-grey-weak
                font-size: variables.$font-small
                width: 525px
                height: 105px
                margin-top: 33px
                margin-bottom: 20px
        
        .person
            display: flex
            align-items: center
            gap: 21px
            width: 452px
            height: 60px

            .person-nome
                margin-top: 20px
                width: 117px
                height: 60px

                h2
                    font-size: 18px
                    font-weight: 500
                    margin-bottom: 10px
                
                p
                    font-size: 14px
                    font-weight: 400
                    color: #7b7b7b

            .more
                color: variables.$color-blue
                font-size: 14px
                font-weight: 400
                margin-left: 150px
////////////////////////*Start of section-home-info page style*///////////////////////
    
////////////////////////*Start of section-blog-post page style*///////////////////////
.blog-post
    width: 100%
    height: 200vh
    margin-top: 136px
    margin-bottom: 250px

    .posts1
        @include mixin.around

        .post1
            width: 334px
            height: 672px
            margin-bottom: 138px

            .post-info
                width: 333px
                height: 326px
                margin-top: 40px

                h1
                    font-size: 23px
                    font-weight: 600
                    line-height: 40.92px
                    margin-bottom: 25px
                
                .info
                   font-size: variables.$font-small
                   font-weight: 400
                   line-height: 33.74px
                   color: #424242
                   margin-bottom: 20px

                .post-person
                    display: flex
                    gap: 20px

                    .person-info
                        margin-top: 5px 

                        h2
                            font-size: 18px
                            font-weight: 500
                            margin-bottom: 10px

                        p
                            font-size: 14px
                            font-weight: 400
                            color: #7b7b7b

    .posts2
        @include mixin.around

        .post1
            width: 334px
            height: 672px

            .post-info
                width: 333px
                height: 326px
                margin-bottom: 40px

                h1
                    font-size: 23px
                    font-weight: 600
                    line-height: 40.92px
                    margin-bottom: 25px
                
                .info
                   font-size: variables.$font-small
                   font-weight: 400
                   line-height: 33.74px
                   color: #424242
                   margin-bottom: 20px

                .post-person
                    display: flex
                    gap: 20px

                    .person-info
                        margin-top: 5px 

                        h2
                            font-size: 18px
                            font-weight: 500
                            margin-bottom: 10px

                        p
                            font-size: 14px
                            font-weight: 400
                            color: #7b7b7b


.star4
    position: absolute
    width: 66px
    height: 66px
    left: 167px 
    top: 2730px     

.paichart4 
    position: absolute
    width: 54px
    height: 54px
    left: 939px
    top: 2900px
////////////////////////*End of section-blog-post page style*///////////////////////
////////////////////////*End of BLOG page style*///////////////////////

////////////////////////*Start of CONTACT page style*///////////////////////
////////////////////////*Start of section-contact-hoem page style*///////////////////////
.contact-home
    @include mixin.around
    widht: 100%
    height: 100vh

    .contact-infos
        width: 437px
        height: 256px

        span
            @include mixin.center
            width: 77px
            height: 77px
            border-radius: 50px
            background-color: #F5F3DA
            margin-bottom: 16px
        
        .contact-info
            width: 437px
            height: 163px

            h1
                font-size: 45px
                font-weight: 600
                margin-bottom: 20px

            p
                font-size: variables.$font-small-big
                font-weight: 400
                color: #777777
    .contact-local
        .ellipse4
            position: absolute
            width: 48px
            height: 48px
            left: 975px
            top: 540px

        .ellipse3
            position: absolute
            width: 10px
            height: 10px
            left: 995px
            top: 560px
////////////////////////*End of section-contact-hoem page style*///////////////////////

////////////////////////*Start of section-contact-us page style*///////////////////////
.contact-us
    width: 100%
    height: 20vh

    .information
        @include mixin.around
        width: 1188px
        height: 102px
        margin-left: 80px

        .redes 
            width: 184px
            height: 82px

            h1
                font-size: variables.$font-small
                font-weight: 600

            .icons
                @include mixin.around
                width: 184px
                height: 34px
                gap: 20px
                margin-top: 20px

                span
                    @include mixin.center
                    width: 34px
                    height: 34px
                    border-radius: 80px
                    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15)

        hr
            width: 102px
            height: 0px
            border: 1px solid #C2C2C2
            transform: rotate(90deg)

        .phone
            display: flex
            width: 221px
            height: 30px
            gap: 20px

            i
                width: 30px
                height: 30px

            p
                font-size: variables.$font-small-big
                font-weight: 400
                color: #333333
        
        .location
            display: flex
            width: 373px
            height: 66px
            gap: 19px

            i
                font-size: 29px

            p
                font-size: variables.$font-small-big
                font-family:'poppins'
                line-height: 30px
                font-weight: 300        

////////////////////////*End of section-contact-us page style*///////////////////////

////////////////////////*Start of CONTACT page style*///////////////////////
.form
    @include mixin.center
    flex-direction: column
    background: #E8F4FA

    .form-infomation
        @include mixin.center
        flex-direction: column
        width: 671px
        height: 741px
        padding: 63px 0

        .form-info
            width: 432px
            height: 83px
            text-align: center

            h1
                font-size: variables.$font-big
                font-weight: 400
                margin-bottom: 15px
            
            p
                font-size: 13px
                font-weight: 500
                color: #777777
        
        form
            @include mixin.center
            flex-direction: column
            width: 671px
            height: 471px
            margin-top: 79px

            .names
                display: flex
                gap: 27px

                .first-name
                    width: 322px
                    height: 87px

                    label
                        font-size: 14px
                        font-weight: 500
                        color: #4f4f4f

                    input
                        width: 322px
                        height: 56px
                        margin-top: 10px
                        border-radius: 9px
                        border: none

                .last-name
                    width: 322px
                    height: 87px

                    label
                        font-size: 14px
                        font-weight: 500
                        color: #4f4f4f

                    input
                        width: 322px
                        height: 56px
                        margin-top: 10px
                        border-radius: 9px
                        border: none
            
            .email
                width: 671px
                height: 84px
                margin-bottom: 20px
                margin-top: 20px

                label
                    font-size: 14px
                    font-weight: 500
                    color: #4f4f4f

                input
                    width: 671px
                    height: 56px
                    margin-top: 10px
                    border-radius: 9px
                    border: none

            .text
                width: 671px
                height: 260px
                margin-bottom: 57px

                label
                    font-size: 14px
                    font-weight: 500
                    color: #4f4f4f
                
                input
                    width: 671px
                    height: 232px
                    margin-top: 10px
                    border-radius: 9px
                    border: none
                    text-align: start

        button
            font-size: variables.$font-small
            background-color: variables.$color-blue
            color: #fff
            font-weight: 400
            text-align: center
            border: none
            border-radius: 10px
            width: 193px
            height: 51px
            margin-left: 478px
////////////////////////*End of CONTACT page style*///////////////////////
////////////////////////*End of CONTACT page style*///////////////////////