@use 'variables'
@use 'mixin'
/* como chamar uma variable = background-color: variables.$bg-color */
/* como chamar um mixin = @include mixins.around */
*
    margin: 0
    padding: 0
    font-family: 'Poppins'

////////////////////////*Header style start*////////////////////////
nav
    @include mixin.between
    padding: 30px

    h1
        color: variables.$color-blue
        font-family: 'poppins'
        margin-left: 32px
        font-weight: 700
        font-size: 29px

    ul
        @include mixin.around
        gap: 25px

        li
            list-style: none

            a
                z-index: 1
                font-size: variables.$font-small
                font-family: 'poppins'
                font-weight: 400
                text-decoration: none
                color: #000
        
        button
            background: variables.$color-blue
            font-size: variables.$font-small
            font-weight: 400
            border: none
            border-radius: 10px
            color: #fff
            padding: 10px
////////////////////////*End of header style*////////////////////////

////////////////////////*HOME page style start*////////////////////////
////////////////////////*Section first-page style start*////////////////////////
.first-page
    @include mixin.around
    background-color: variables.$color-background
    height: 100vh

    .content
        position: absolute
        width: 630px
        height: 450px
        left: 123px
        top: 230px
        
        h1
            font-size: variables.$font-title
            font-weight: 600
            line-height: 60px

            span
                color: variables.$color-blue
        
        p
            font-size: variables.$font-small
            font-weight: 400
            line-height: 32.69px
            margin-top: 26px
        
        .contact
            @include mixin.button
            background-color: variables.$color-blue
            border: none
            color: #fff
            margin-top: 63px
            
        .view
            @include mixin.button
            color: variables.$color-blue
            border: 2px solid variables.$color-blue
            margin-left: 20px
    
    .images
        @include mixin.around

        .image01
            position: absolute
            width: 509px
            height: 763px
            left: 778px
            top: 16px
            z-index: -1

        .image02
            position: absolute
            width: 185px
            height: 185px
            left: 1190px
            top: 547px

        .image03
            position: absolute
            width: 68px
            height: 68px
            left: 1218.59px
            top: 205px

        .image04
            position: absolute
            width: 66px
            height: 66px
            left: 885px
            top: 291px

        .image05
            position: absolute
            right: 0
            top: 275px

        .image06
            position: absolute
            left: 0
            top: 278px

        .ellipse01
            position: absolute
            width: 496px
            height: 504px
            left: 918px
            top: 105px
            z-index: -100
            background: radial-gradient(50% 50% at 50% 50%, #FDFFEA 50%, rgba(196, 196, 196, 0) 100%)
        
        .ellipse02
            position: absolute
            width: 496px
            height: 504px
            left: -111px
            top: 125px
            z-index: -1
            background: radial-gradient(50% 50% at 50% 50%, #FDFFEA 50%, rgba(196, 196, 196, 0) 100%)       
////////////////////////*End of Section first-page style*///////////////////////

////////////////////////*Section benefits style start*////////////////////////
.benefits
    @include mixin.around
    height: 20vh
    
    .web
        @include mixin.center
        gap: 16px

        span
            @include mixin.center
            @include mixin.benefits-span
            background-color: #FDFFEA

            img
                @include mixin.benefits-img
        
        h1
            @include mixin.benefits-h1
        
        p
            @include mixin.benefits-p
    
    .seo
        @include mixin.center
        gap: 16px

        span
            @include mixin.center
            @include mixin.benefits-span
            background-color: #ECFFDA

            img
                @include mixin.benefits-img
        
        h1
            @include mixin.benefits-h1
        
        p
            @include mixin.benefits-p
    
    .solutions
        @include mixin.center
        gap: 16px

        span
            @include mixin.center
            @include mixin.benefits-span
            background-color: #DAE6FF

            img
                @include mixin.benefits-img
        
        h1
            @include mixin.benefits-h1
        
        p
            @include mixin.benefits-p
    
    .mobile
        @include mixin.center
        gap: 16px

        span
            @include mixin.center
            @include mixin.benefits-span
            background-color: #FFE5DA

            img
                @include mixin.benefits-img
        
        h1
            @include mixin.benefits-h1
        
        p
            @include mixin.benefits-p    
////////////////////////*End of Section benefits style*///////////////////////

////////////////////////*Section title style start*////////////////////////
.title-middle
    @include mixin.center
    flex-direction: column
    margin-bottom: 55px
    margin-top: 55px

    h1
        font-size: 33px
        font-weight: 600
        line-height: 52.8px
        text-align: cernter

    p
        font-size: 18px
        font-weight: 400
        line-height: 31.5px
        text-align: center 
////////////////////////*End of Section title style*///////////////////////

////////////////////////*Section information style start*////////////////////////
.first-content
    @include mixin.around

    .description
        @include mixin.information-descriotion
        margin-left: 123px

        .title
            @include mixin.information-title

            span
                @include mixin.center
                @include mixin.information-span
                background-color: variables.$color-first-ellipse 

                img
                    @include mixin.information-img1

            .mobile-content
                h1
                   @include mixin.information-h1

                p
                    @include mixin.information-p1

        h2
            @include mixin.information-h2

            span
                color: variables.$color-blue
                
        p
            @include mixin.information-p2
    img
        @include mixin.information-img2

.second-content
    @include mixin.around
 
    img
        @include mixin.information-img2
        padding: 0 100px
        
    .description
        @include mixin.information-descriotion

        .title
            @include mixin.information-title

            span
                @include mixin.center
                @include mixin.information-span
                background-color: variables.$color-second-ellipse 

                img
                    @include mixin.information-img1

            .mobile-content
                h1
                   @include mixin.information-h1

                p
                    @include mixin.information-p1

        h2
            @include mixin.information-h2

            span
                color: variables.$color-blue

        p
            @include mixin.information-p2

.third-content
    @include mixin.around

    .description
        @include mixin.information-descriotion
        margin-left: 123px

        .title
            @include mixin.information-title

            span
                @include mixin.center
                @include mixin.information-span
                background-color: variables.$color-third-ellipse 

                img
                    @include mixin.information-img1

            .mobile-content
                h1
                   @include mixin.information-h1

                p
                    @include mixin.information-p1

        h2
            @include mixin.information-h2

            span
                color: variables.$color-blue

        p
            @include mixin.information-p2
    img
        @include mixin.information-img2
////////////////////////*End of Section information style*///////////////////////

////////////////////////*Section view-more style start*////////////////////////
.view-more
    @include mixin.around
    margin-top: 50px
    height: 100vh

    img
        position: absolute
        width: 120.26px
        height: 120.26px
        left: 1157px
        top: 2720px

    .viewmore-first-content
        @include mixin.center
        @include mixin.viewmore-content
        background-color: #f4f4f4

        h1
            @include mixin.viewmore-h1
        
        p
            @include mixin.viewmore-p
            

        .button-first
            @include mixin.button
            background-color: variables.$color-blue
            color: #fff
            border: none
    
    .viewmore-second-content
        @include mixin.center
        @include mixin.viewmore-content
        background-color: variables.$color-blue

        h1
            @include mixin.viewmore-h1
            color: #fff
        
        p
            @include mixin.viewmore-p
            color: #fff
        
        .button-second
            @include mixin.button
            background-color: #fff
            color: variables.$color-blue
            border: none
////////////////////////*End of Section view-more style*///////////////////////

////////////////////////*Section companies style start*////////////////////////
.companies
    @include mixin.center
    flex-direction: column

    h1
        font-size: 24px
        font-weight: 500
        margin-bottom: 15px

    .logo
        @include mixin.center
        gap: 115px
////////////////////////*End of Section companies style*///////////////////////

////////////////////////*Section inscribe style start*////////////////////////
.inscribe
    @include mixin.center
    background-color: variables.$color-background
    flex-direction: column
    height: 100vh

    .star
        position: absolute
        width: 66px
        height: 66px
        left: 167px 
        top: 3540px
    
    .paichart
        position: absolute
        width: 54px
        height: 54px
        left: 939px
        top: 3700px

    h1
        font-size: variables.$font-big
        margin-bottom: 80px
        font-weight: 600
        line-height: 51px
        text-align: center
    
    input
        font-size: variables.$font-small
        width: 532px
        height: 67px
        border-radius: 10px
        padding-inline-start: 36px
        border: none
        font-weight: 400
        box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.07)

    .send
        font-size: variables.$font-small
        font-weight: 500
        margin-left: 14px
        width: 173px
        height: 67px
        border-radius: 10px
        background-color: #000
        color: #fff

////////////////////////*End of Section inscribe style*///////////////////////

////////////////////////*Section footer style start*////////////////////////
footer
    @include mixin.center
    font-family: 'poppins'
    flex-direction: column
    height: 80vh

    .information
        @include mixin.center
        gap: 130px

        .company
            height: 20px

            .logo2
                color: variables.$color-blue2
                margin-bottom: 30px
                font-size: 17px
                font-weight: 700
                margin-top: -80px
            
            .company-info
                font-size: variables.$font-small
                font-weight: 400
                line-height: 24px
                margin-bottom: 50px

            .link
                font-size: variables.$font-small
                font-weight: 400

        .aboutus
            h1
                font-size: 17px
                font-weight: 700
                margin-bottom: 25px

            p
                font-size: variables.$font-small
                font-weight: 400
                line-height: 24px
                margin-bottom: 10px
        
        .contact
            height: 150px

            h1
                font-size: 17px
                font-weight: 700
                margin-top: -10px
                margin-bottom: 25px
            
            .contact-info
                font-size: variables.$font-small
                font-weight: 400
                line-height: 24px
                margin-bottom: 30px
            
            .contact-phone
                font-size: variables.$font-small
                font-weight: 400

        .social-midia
            @include mixin.center
            height: 80px
            gap: 15px
            margin-top: 130px
            
            span
                @include mixin.center
                width: 34px
                height: 34px
                border-radius: 50%
                text-align: center
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15)

                i
                    width: 12px
                    height: 12px
    
    hr
        width: 100%
        margin-top: 80px
    
    .copyright
        font-size: 17px
        font-weight: 400
        margin-top: 80px
////////////////////////*End of Section footer style*///////////////////////
////////////////////////*End of HOME page style*///////////////////////